.geral {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	background-color: #FFCC33;
}

body {
	background-color: #FFCC00;
}